.event-loader-show {
  height: 100%;
  width: 100%;
  position: absolute;
  animation: skeleton-loading 1.3s ease-in-out infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 95%);
  }
  100% {
    background-color: hsl(231, 12%, 88%);
  }
}
