/node_modules
/public/mix-manifest.json
/public/hot
/public/storage
/public/vendor
/public/build
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.lock
package-lock.json
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.rnd
