@font-face {
  font-family: "Vatger";
  src: url("../fonts/vatger/Vatger-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Vatger";
  src: url("../fonts/vatger/Vatger-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Vatger";
  src: url("../fonts/vatger/Vatger-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Vatger";
  src: url("../fonts/vatger/Vatger-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
