@import "fonts";

// Color
$white: #ffffff;

$primary: #2b3f55;
$secondary: #8690a0;
$accent: #ea5763;
$success: #2eca8b;
$warning: #f17425;
$info: #17a2b8;
$danger: #e43f52;
$dark: #282d35;
$black: #202b37;
$muted: #8690a0;
$light: #f0f1f3;
